section.carousel
  .container.container--relative
    .carousel_nav
      .carousel_nav_item.carousel_nav_item--active 01
      .carousel_nav_item 02
      .carousel_nav_item 03
  .carousel_inner
    .carousel_item.active.js-tilt
      .container.container--relative
        .carousel_item_layer
          .text_line.text_line--left Activate yourself
        .carousel_item_layer.carousel_item_layer--img
          img(src="assets/media/images/content/man.png", width="1022px", height="1198px")
        .carousel_item_layer
          .text_main Workout
        .carousel_item_layer.carousel_item_layer--part
          img(src="assets/media/images/content/man--part.png", width="322px")
        .carousel_item_layer
          .text_line.text_line--right
            span Next generation of
          .text_line.text_line--left.text_line--cut
            span Activate yourself
        .carousel_item_layer
          .lightning
            img(src="assets/media/images/content/lightning.png", width="704px")
          .lightning.lightning--1
            img(src="assets/media/images/content/lightning_1.png", width="710px")
    .carousel_item.js-tilt
      .container.container--relative
        .carousel_item_layer
          .text_line.text_line--left Activate yourself
        .carousel_item_layer.carousel_item_layer--img
          img(src="assets/media/images/content/man.png", width="1022px", height="1198px")
        .carousel_item_layer
          .text_main Workout
        .carousel_item_layer.carousel_item_layer--part
          img(src="assets/media/images/content/man--part.png", width="322px")
        .carousel_item_layer
          .text_line.text_line--right
            span Next generation of
          .text_line.text_line--left.text_line--cut
            span Activate yourself
        .carousel_item_layer
          .lightning
            img(src="assets/media/images/content/lightning.png", width="704px")
          .lightning.lightning--1
            img(src="assets/media/images/content/lightning_1.png", width="710px")
    .carousel_item.js-tilt
      .container.container--relative
        .carousel_item_layer
          .text_line.text_line--left Activate yourself
        .carousel_item_layer.carousel_item_layer--img
          img(src="assets/media/images/content/man.png", width="1022px", height="1198px")
        .carousel_item_layer
          .text_main Workout
        .carousel_item_layer.carousel_item_layer--part
          img(src="assets/media/images/content/man--part.png", width="322px")
        .carousel_item_layer
          .text_line.text_line--right
            span Next generation of
          .text_line.text_line--left.text_line--cut
            span Activate yourself
        .carousel_item_layer
          .lightning
            img(src="assets/media/images/content/lightning.png", width="704px")
          .lightning.lightning--1
            img(src="assets/media/images/content/lightning_1.png", width="710px")
  .btns.btns--under-scene
    .container
      a(href="#").btn.btn--action Sign up
      a(href="#").btn learn more