<!DOCTYPE html>
html(lang="ru")
  include includes/head.pug
  body
    include components/navbar/navbar
    main
      .scene
        include components/carousel/carousel
    script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    script(src="assets/vendor/tilt.jquery.min.js")
    script(src="main.js")