@font-face {
  font-family: 'American Captain';
  src: url('assets/media/fonts/AmericanCaptainCyrillic.woff2') format('woff2'), url('assets/media/fonts/AmericanCaptainCyrillic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}