header.navbar_wrap
  .container
    .navbar
      .navbar_logo
        a(href="#" title="Landing Page Fitness by Asylab")
          img(src="assets/media/images/content/logo.png", alt="Landing Page Fitness by Asylab")
      ul.navbar_list
        li.navbar_list_item
          a(href="#", title="Home").navbar_link Home
        li.navbar_list_item
          a(href="#", title="Exercises").navbar_link Exercises
        li.navbar_list_item
          a(href="#", title="About Us").navbar_link About Us
        li.navbar_list_item
          a(href="#", title="Sign Up").navbar_link Sign Up